:root {
    --font-family-main: 'Montserrat', serif;
    --font-fize-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-fize-m) / var(--font-line-m) var(--font-family-main);
    --font-fize-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-fize-l) / var(--font-line-l) var(--font-family-main);
    --font-fize-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-fize-xl) / var(--font-line-xl) var(--font-family-main);
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --modal-z-index: 10;
    --overlay-color: rgb(0 0 0 / 52.1%);
}