.app_dark_theme {
    --bg-color: #6112AC;
    --inverted-bg-color: #F7F3FB;
    --primary-color: #F7F3FB;
    --secondary-color: #6112AC;
    --inverted-primary-color: #6112AC;
    --inverted-secondary-color: #F7F3FB;
}