:root  {
    --bg-color: #F7F3FB;
    --inverted-bg-color: #6112AC;
    --primary-color: #6112AC;
    --secondary-color: #F7F3FB;
    --inverted-primary-color: #F7F3FB;
    --inverted-secondary-color: #6112AC;
    --skeleton-shadow: #838383;
    --skeleton-color: #6112AC;
    --code-bg: rgb(233 233 233);
    --card-bg: #dad6df;
}