.app_pink_theme {
    --bg-color: #ff1168;
    --inverted-bg-color: #F7F3FB;
    --primary-color: #F7F3FB;
    --secondary-color: #ff1168;
    --inverted-primary-color: #ff1168;
    --inverted-secondary-color: #F7F3FB;
    --skeleton-shadow: #ff1168;
    --skeleton-color: #F7F3FB;
    --code-bg: #dd17dd;
    --card-bg: #cf1358;
    --listbox-bg: #cf1358;
}