body {
    background-color: blueviolet;
    color: white;
    font-size: 3rem;
    font-family: serif;
}

.count__button {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 1rem;
    margin: 1rem;
    border: 0;
}